h3, h4{
    text-align: center;
}

h3 {
    margin: 3rem 0;
}

h4 {
    margin: 2rem 0;
    font-weight: normal;
}

#formulaire {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: space-between;
	margin-left: 10rem;
	margin-bottom: 3rem;
}

#formulaire #form_part1, #formulaire #form_part2 {
	text-align: left;
	width: 50%;
}

#formulaire #form_part2 {
	margin-top: 1rem;
}

#formulaire #form_part1 .champs1, #formulaire #form_part2 .champs2 {
	width: 90%;
	margin-bottom: 0.8rem;
}

#formulaire #form_part2 .champs2 {
    margin-bottom: 1rem;
}

#formulaire #form_part1 select, #formulaire #form_part2 select {
    background-color: white; 
    box-shadow: 0 0 15px rgb(0,0,0,0.1);
    border-radius: 6px;
    padding: 0.1rem 1rem;
    margin-top: 0.6rem;
}

#formulaire #form_part1 input, #formulaire #form_part2 input  {
    letter-spacing: 1px;
    background-color: white;
    box-shadow: 0 0 15px rgb(0,0,0,0.1);
    border: none;
    border-radius: 6px;
    margin-top: 0.5rem;
}

.end {
    margin-bottom: 4rem;
    text-align: center;
}

.end a, .end input[type=submit] {
    background-color: white;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 0.1rem 1rem;
    padding-bottom: 0.2rem;
    box-shadow: 0 0 15px rgb(0,0,0,0.20);
}

.end input[type=submit]:hover {
    color: #4ea3fc;
    box-shadow: 0 0 10px #4ea3fc;
}

.end input[type=submit] {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.end a:hover {
    color: #4ea3fc;
    box-shadow: 0 0 10px #4ea3fc;
}

.end #reinit {
    margin-right: 3rem;
}

.end #reinit:hover {
    box-shadow: 0 0 15px rgb(0,0,0,0.20);
}

@media screen and (max-width: 1200px)
{
    #formulaire {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 950px)
{
    #formulaire {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 800px)
{
    #formulaire {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 2rem;
    }

    #formulaire #form_part1, #formulaire #form_part2 {
    align-items: left;
    width: 90%;
    }

    .end #reinit {
        margin-right: 2rem;
    }

    .end #valider {
        margin-left: 2rem;
    }

}