
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Nunito+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');


#nav_simple {
    background-color: #131479;
    width: 100%;
}

#nav_simple .menu {
    margin:0;
}

#nav_simple .deroulant, #nav_simple #propos, #nav_simple #accueil {
    width: 33.33%;
}

#nav_simple ul {
    padding-left: 0;
}

#nav_simple ul li {
    list-style-type: none;
    float: left;
    text-align: center;
}

#nav_simple::after {
    content: "";
    display: table;
    clear: both;
}

#nav_simple a {
    display: block;
    padding: 0.9rem 0; 
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.15rem;
}

#nav_simple a:hover {
    color: #4ea3fc;
}

