

@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Nunito+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    font-family: 'Cantarell';
    letter-spacing: 1px;
}

body {
    margin: 0;
}

h3 {
    text-align: center;
}

#barre_recherche {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

#tableau {
    text-align: center;
    margin: auto;
    color: black;
    border-collapse: collapse;
    width: 80%;
    table-layout:fixed;
}

#tableau th, #tableau #titres td {
    padding: 10px;
    border-bottom: 1px solid #5a5858;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    background-color: #DCDCDC;
    font-size: 1rem;
}

#tableau th {
    border: none;
}

#tableau td {
    border-bottom: 1px solid #5a5858;
    padding: 9px;
    background-color: white;
    font-size: 1rem;
}

form #barre_recherche {
    margin-left: 12rem;
    margin-right: 12rem;
}

form input {
    letter-spacing: 1px;
    background-color: white;
    box-shadow: 0 0 15px rgb(0,0,0,0.2);
    border: none;
    border-radius: 6px;
    padding: 0.2rem 1rem;
    padding-bottom: 0.2rem;
}

#filtres_ssp input {
    margin-bottom: 0.8rem;
}

input[type=list] {
    display: none;
}

input[type=submit] {
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 0.1rem 1rem;
    padding-bottom: 0.2rem;
    box-shadow: 0 0 15px rgb(0,0,0,0.20);
}

input[type=submit]:hover {
    color: #4ea3fc;
    border-color: #4ea3fc;
    box-shadow: 0 0 10px #4ea3fc;
}