@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Nunito+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h3 {
	text-align: center;
}

#durée {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 8rem 3rem 8rem;
}

#durée p {
	font-size: 1.1rem;
	text-align: center;
	margin-top: 0;
}

#durée img {
	margin-top: 2rem;
	max-width: 100%;
	width: 50%;
}

#bouton {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*features du bouton*/
#bouton #lancer_test {
	font-size: 1.2rem;
	text-align: center;
	width: 12rem;
	color: black;
	text-decoration: none;
	background-color: white; /*#b1dbfd*/
	border-radius: 12px;
	/*transition-duration: 0.2s;
	transition-timing-function: ease-out;*/
	padding: 1rem 1rem;
	margin-bottom: 3rem;
	box-shadow: 0 0 15px #4ea3fc; /*4ea3fc*/

}

#bouton #lancer_test:hover {
	border: none;
	color: #4ea3fc;
	font-weight: bold;
	box-shadow: 0 0 20px #4ea3fc; /*4ea3fc*/

}
